<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="htmx-config" content='{"selfRequestsOnly":false}'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Color Palette</title>
    <script src="https://unpkg.com/htmx.org@2.0.4" integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@heroicons/react@1.0.0/dist/heroicons.min.js"></script>
    <style rel="../css/styles.css"></style>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100 p-8">

<div class="flex justify-center">
    <div class="relative bg-white rounded-lg shadow-xl p-6 max-w-lg w-full">
        <!-- Close Icon -->
        <button
            class="absolute top-2 right-2 text-gray-500 hover:text-red-500"
            onclick="window.location.reload()"
            aria-label="Close">
            ✖️
        </button>

        <!-- Image Preview Section -->
        <div class="max-w-md mx-auto">
            <div id="image-preview" class="h-64 flex justify-center items-center bg-gray-100 rounded-lg mt-4">
                <img src="./../assets/upload.png" alt="Image upload" class="max-h-full max-w-full">
            </div>
        </div>

        <!-- Upload Form -->
        <form
            id="drop-area"
            class="p-6 rounded-lg flex flex-col items-center justify-center text-gray-600"
            enctype="multipart/form-data"
            ondragover="event.preventDefault()"
            ondrop="handleDrop(event)"
            onsubmit="handleUpload(event)">

            <!-- File Input -->
            <input type="file" name="file" id="fileInput" class="hidden" accept="image/*">

            <div class="flex space-x-4 mt-4">
                <button type="button" class="bg-gray-500 text-white px-4 py-2 rounded" onclick="document.getElementById('fileInput').click()">
                    Select Image
                </button>
                <button id="btn-upload" type="submit" class="bg-blue-500 text-white px-4 py-2 rounded invisible">
                    Upload
                </button>
            </div>
        </form>

        <!-- Color Grid Display -->
        <div id="color-grid" class="mt-4 grid grid-cols-4 gap-2"></div>
    </div>
</div>

<script src="../js/main.js"></script>
</body>
</html>
